In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
from matplotlib import style
from scipy import stats
from sqlalchemy import create_engine

# Adjusting the size of matplotlib
import matplotlib as mpl

In [2]:
import pandas as pd
from pandas.plotting import scatter_matrix
import datetime
import pandas_datareader.data as web
from pandas import Series, DataFrame


start = datetime.datetime(2014, 1, 1)
end = datetime.datetime(2019, 12, 31)

ticker = ["AAPL","MSFT","AMZN","FB","JPM","XOM","GOOG", "GOOGL","JNJ"]
          #,"BRK.B","JPM","XOM","GOOG", "GOOGL","JNJ"]
appendDf =[]
for tick in ticker:
    df = web.DataReader(tick, 'yahoo', start, end)
    df["Ticker"] = tick
    appendDf.append(df)
    
appendDf = pd.concat(appendDf)

appendDf.reset_index()
appendDf.tail()

,High,Low,Open,Close,Volume,Adj Close,Ticker
Date,,,,,,,
2019-12-10,141.000000,139.910004,140.800003,139.990005,5310300.0,139.990005,JNJ
2019-12-11,141.979996,140.630005,140.929993,140.979996,6631500.0,140.979996,JNJ
2019-12-12,142.059998,140.729996,141.320007,141.339996,5012400.0,141.339996,JNJ
2019-12-13,141.800003,140.309998,141.100006,141.380005,4257200.0,141.380005,JNJ
2019-12-16,142.850006,141.490005,141.729996,141.789993,4894660.0,141.789993,JNJ

In [3]:
stocksDf = appendDf.rename(columns={"Date":"date","High":"high","Low":"low",
                                    "Open":"open","Close":"close","Volume":"volume",
                                    "Adj Close":"adj_close", "Ticker":"ticker"})

In [4]:
stocksDf.tail()

,high,low,open,close,volume,adj_close,ticker
Date,,,,,,,
2019-12-10,141.000000,139.910004,140.800003,139.990005,5310300.0,139.990005,JNJ
2019-12-11,141.979996,140.630005,140.929993,140.979996,6631500.0,140.979996,JNJ
2019-12-12,142.059998,140.729996,141.320007,141.339996,5012400.0,141.339996,JNJ
2019-12-13,141.800003,140.309998,141.100006,141.380005,4257200.0,141.380005,JNJ
2019-12-16,142.850006,141.490005,141.729996,141.789993,4894660.0,141.789993,JNJ

In [5]:
stocksDf.dtypes

high         float64
low          float64
open         float64
close        float64
volume       float64
adj_close    float64
ticker        object
dtype: object

In [6]:
stocksDf.index.name = 'date'

In [7]:
stocksDf.index.name
stocksDf.head()

,high,low,open,close,volume,adj_close,ticker
date,,,,,,,
2014-01-02,79.575714,78.860001,79.382858,79.018570,58671200.0,71.107201,AAPL
2014-01-03,79.099998,77.204285,78.980003,77.282860,98116900.0,69.545288,AAPL
2014-01-06,78.114288,76.228569,76.778572,77.704285,103152700.0,69.924515,AAPL
2014-01-07,77.994286,76.845711,77.760002,77.148575,79302300.0,69.424438,AAPL
2014-01-08,77.937141,76.955711,76.972855,77.637146,64632400.0,69.864105,AAPL

In [8]:
start = datetime.datetime(2019, 1, 1)
end = datetime.datetime(2020, 12, 31)
nasdacdf= web.DataReader('^IXIC','yahoo',start, end)
nasdacdf["market"] = "Nasdaq"
#spdf = web.DataReader('^GSPC','yahoo').tail(1)
#spdf["market"] = "S&P"
#djdf = web.DataReader('^DJI','yahoo').tail(1)
#djdf["market"] = "Dow"
#totindexdf = pd.concat([nasdacdf,spdf,djdf],axis=0, sort=False)

marketDf = nasdacdf.rename(columns={"Date":"date","High":"high","Low":"low",
                                    "Open":"open","Close":"close","Volume":"volume",
                                    "Adj Close":"adj_close"})
marketDf.reset_index()
marketDf.index.name = 'date'
marketDf

,high,low,open,close,volume,adj_close,market
date,,,,,,,
2019-01-02,6693.709961,6506.879883,6506.910156,6665.939941,2261800000,6665.939941,Nasdaq
2019-01-03,6600.209961,6457.129883,6584.770020,6463.500000,2607290000,6463.500000,Nasdaq
2019-01-04,6760.689941,6554.240234,6567.140137,6738.859863,2579550000,6738.859863,Nasdaq
2019-01-07,6855.600098,6741.399902,6757.529785,6823.470215,2507550000,6823.470215,Nasdaq
2019-01-08,6909.580078,6795.859863,6893.439941,6897.000000,2380290000,6897.000000,Nasdaq
2019-01-09,6985.220215,6899.560059,6923.060059,6957.080078,2422590000,6957.080078,Nasdaq
2019-01-10,6991.370117,6877.080078,6908.649902,6986.069824,2179080000,6986.069824,Nasdaq
2019-01-11,6975.649902,6933.600098,6947.459961,6971.479980,2066500000,6971.479980,Nasdaq
2019-01-14,6936.220215,6887.479980,6908.029785,6905.919922,1942210000,6905.919922,Nasdaq
2019-01-15,7025.850098,6928.120117,6931.390137,7023.830078,2038090000,7023.830078,Nasdaq
2019-01-16,7079.629883,7028.120117,7033.750000,7034.689941,2149580000,7034.689941,Nasdaq
2019-01-17,7113.950195,7003.620117,7010.129883,7084.459961,2128840000,7084.459961,Nasdaq
2019-01-18,7185.379883,7096.620117,7134.100098,7157.229980,2451240000,7157.229980,Nasdaq
2019-01-22,7110.160156,6979.810059,7109.569824,7020.359863,2380950000,7020.359863,Nasdaq
2019-01-23,7084.850098,6953.229980,7061.649902,7025.770020,2274420000,7025.770020,Nasdaq
2019-01-24,7078.959961,7029.950195,7042.250000,7073.459961,2400290000,7073.459961,Nasdaq
2019-01-25,7174.560059,7111.089844,7128.180176,7164.859863,2440840000,7164.859863,Nasdaq
2019-01-28,7086.299805,7034.250000,7075.009766,7085.680176,2435480000,7085.680176,Nasdaq
2019-01-29,7092.290039,7011.470215,7087.490234,7028.290039,2089690000,7028.290039,Nasdaq
2019-01-30,7201.310059,7065.569824,7094.790039,7183.080078,2544050000,7183.080078,Nasdaq
2019-01-31,7303.120117,7205.950195,7208.169922,7281.740234,2918710000,7281.740234,Nasdaq
2019-02-01,7299.939941,7243.410156,7256.370117,7263.870117,2383430000,7263.870117,Nasdaq
2019-02-04,7348.229980,7261.069824,7266.279785,7347.540039,2099470000,7347.540039,Nasdaq
2019-02-05,7408.680176,7355.359863,7356.339844,7402.080078,2265520000,7402.080078,Nasdaq
2019-02-06,7410.770020,7346.720215,7400.439941,7375.279785,2167130000,7375.279785,Nasdaq
2019-02-07,7336.740234,7235.049805,7316.500000,7288.350098,2295080000,7288.350098,Nasdaq
2019-02-08,7299.439941,7225.140137,7232.299805,7298.200195,2086260000,7298.200195,Nasdaq
2019-02-11,7343.560059,7290.029785,7327.370117,7307.899902,1897800000,7307.899902,Nasdaq
2019-02-12,7419.430176,7349.799805,7358.850098,7414.620117,2124330000,7414.620117,Nasdaq
2019-02-13,7461.660156,7413.839844,7437.459961,7420.379883,2093800000,7420.379883,Nasdaq
...,...,...,...,...,...,...,...
2019-11-04,8451.370117,8421.299805,8445.500000,8433.200195,2149910000,8433.200195,Nasdaq
2019-11-05,8457.389648,8421.049805,8446.620117,8434.679688,2316710000,8434.679688,Nasdaq
2019-11-06,8426.570312,8379.330078,8426.570312,8410.629883,2332650000,8410.629883,Nasdaq
2019-11-07,8483.160156,8415.870117,8455.110352,8434.519531,2393950000,8434.519531,Nasdaq
2019-11-08,8475.570312,8405.889648,8422.669922,8475.309570,1974190000,8475.309570,Nasdaq
2019-11-11,8467.290039,8425.480469,8431.259766,8464.280273,1715470000,8464.280273,Nasdaq
2019-11-12,8514.839844,8462.990234,8471.070312,8486.089844,1987820000,8486.089844,Nasdaq
2019-11-13,8496.900391,8451.339844,8455.019531,8482.099609,2173320000,8482.099609,Nasdaq
2019-11-14,8485.360352,8441.580078,8461.059570,8479.019531,2106550000,8479.019531,Nasdaq
2019-11-15,8540.830078,8506.799805,8524.480469,8540.830078,2188210000,8540.830078,Nasdaq
2019-11-18,8559.780273,8503.620117,8529.160156,8549.940430,2047240000,8549.940430,Nasdaq
2019-11-19,8589.759766,8536.730469,8578.019531,8570.660156,2075000000,8570.660156,Nasdaq
2019-11-20,8578.269531,8468.629883,8543.570312,8526.730469,2596030000,8526.730469,Nasdaq
2019-11-21,8530.730469,8487.290039,8527.870117,8506.209961,2056230000,8506.209961,Nasdaq
2019-11-22,8535.459961,8477.490234,8530.540039,8519.879883,1877090000,8519.879883,Nasdaq
2019-11-25,8633.150391,8559.650391,8559.650391,8632.490234,2256070000,8632.490234,Nasdaq
2019-11-26,8659.730469,8625.620117,8635.400391,8647.929688,2434570000,8647.929688,Nasdaq
2019-11-27,8705.910156,8662.580078,8669.589844,8705.179688,1744580000,8705.179688,Nasdaq
2019-11-29,8697.320312,8664.040039,8682.009766,8665.469727,1099090000,8665.469727,Nasdaq
2019-12-02,8672.839844,8540.160156,8672.839844,8567.990234,2225940000,8567.990234,Nasdaq
2019-12-03,8523.980469,8435.400391,8460.719727,8520.639648,2308600000,8520.639648,Nasdaq
2019-12-04,8584.879883,8552.379883,8557.450195,8566.669922,2150680000,8566.669922,Nasdaq
2019-12-05,8588.889648,8541.919922,8587.929688,8570.700195,2123380000,8570.700195,Nasdaq
2019-12-06,8665.440430,8630.580078,8634.250000,8656.530273,2053530000,8656.530273,Nasdaq
2019-12-09,8678.849609,8619.769531,8650.860352,8621.830078,2088520000,8621.830078,Nasdaq
2019-12-10,8650.759766,8600.820312,8623.559570,8616.179688,2053390000,8616.179688,Nasdaq
2019-12-11,8658.480469,8622.360352,8631.120117,8654.049805,1937850000,8654.049805,Nasdaq
2019-12-12,8745.820312,8633.599609,8645.360352,8717.320312,2388270000,8717.320312,Nasdaq
2019-12-13,8768.870117,8697.580078,8713.910156,8734.879883,2188720000,8734.879883,Nasdaq
2019-12-16,8833.448242,8789.769531,8791.313477,8814.227539,2190897363,8814.227539,Nasdaq

In [9]:
#Create database connection

db_url = 'postgres://postgres:MOU1sou2@localhost:5432/Nasdaq'
engine = create_engine(db_url)
   
connection = engine.connect()

In [14]:
# Confirm tables
engine.table_names()

['stocks', 'markets']

In [15]:
pd.read_sql_query('delete from stocks', con=engine).head()

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [17]:
stocksDf.to_sql(name='stocks', con=engine, if_exists='append', index=True)

In [18]:
pd.read_sql_query('select * from stocks', con=engine).head()

,date,high,low,open,close,volume,adj_close,ticker
0,2014-01-02,79.575714,78.860001,79.382858,79.018570,58671200.0,71.107201,AAPL
1,2014-01-03,79.099998,77.204285,78.980003,77.282860,98116900.0,69.545288,AAPL
2,2014-01-06,78.114288,76.228569,76.778572,77.704285,103152700.0,69.924515,AAPL
3,2014-01-07,77.994286,76.845711,77.760002,77.148575,79302300.0,69.424438,AAPL
4,2014-01-08,77.937141,76.955711,76.972855,77.637146,64632400.0,69.864105,AAPL

In [19]:
pd.read_sql_query('delete from markets', con=engine).head()

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [21]:
marketDf.to_sql(name='markets', con=engine, if_exists='append', index=True)

In [22]:
pd.read_sql_query('select * from markets', con=engine).head()

,date,high,low,open,close,volume,adj_close,market
0,2019-01-02,6693.709961,6506.879883,6506.910156,6665.939941,2.261800e+09,6665.939941,Nasdaq
1,2019-01-03,6600.209961,6457.129883,6584.770020,6463.500000,2.607290e+09,6463.500000,Nasdaq
2,2019-01-04,6760.689941,6554.240234,6567.140137,6738.859863,2.579550e+09,6738.859863,Nasdaq
3,2019-01-07,6855.600098,6741.399902,6757.529785,6823.470215,2.507550e+09,6823.470215,Nasdaq
4,2019-01-08,6909.580078,6795.859863,6893.439941,6897.000000,2.380290e+09,6897.000000,Nasdaq

In [ ]:
import subprocess

#DATABASE_URL = subprocess.check_output("heroku config:get DATABASE_URL --app stocks-hub-v4", shell=True).decode('utf-8')
#engine = create_engine(DATABASE_URL)

#result = pd.read_sql_query(
    '''
SELECT * FROM my_table;
    ''',
    con=engine)