In [2]:
import pandas as pd
from pandas.plotting import scatter_matrix
import datetime
import pandas_datareader.data as web
from pandas import Series, DataFrame

In [19]:
nasdacdf= web.DataReader('^IXIC','yahoo').tail(1)
spdf = web.DataReader('^GSPC','yahoo').tail(1)
djdf = web.DataReader('^DJI','yahoo').tail(1)
totaldf = pd.concat([nasdacdf,spdf,djdf],axis=0, sort=False)
totaldf

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-11-08,8475.570312,8405.889648,8422.669922,8475.309570,1974190000,8475.309570
2019-11-08,3093.090088,3073.580078,3081.250000,3093.080078,3499150000,3093.080078
2019-11-08,27694.949219,27578.970703,27686.199219,27681.240234,221440000,27681.240234